.container {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 4em;
    display: flex;
    justify-content: space-between;
}

.carrinho {
    margin-left: 4em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cart-title {
    font-size: 23px;
    font-weight: 800;
    font-family: 'Fredoka';
}

.cart-header {
    padding: 0.5em;
    width: 100%;
    background-color: #F4F2F8;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #D0CED4;
}

.head-produtos {
    margin-left: 0.8em;
}

.head-outros {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cart-items {
    width: 100%;
}

.cartItem {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    height: 10vh;
    justify-content: space-between;
}

.cart-produto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 10px;
    align-items: center;
}

.cart-outros {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cart-quantidade {
    width: 25%;
    display: flex;
    background-color: #F4F2F8;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D0CED4;
    border-radius: 10px;
    height: 5vh;
}

.cart-quantidade button{
    border: 0;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}


.cartItem img {
    max-width: 100%;
    max-height: 100%;
}

.form--compra{
    width: 30%;
    padding: 0 5em 0 5em;
}

.form-group{
    margin-bottom: 0.7em;
    display: flex;
    flex-direction: column;
}

.form-group h3{
    margin-bottom: 0.2em;
    font-size: 25px;
}

.form-group .formCompra-input{
    background-color: #F4F2F8;
    font-family: 'Product Sans';
    font-weight: 800;
    width: 18vw;
    height: 5vh;
    border-radius: 8px;
    border: 1px solid #D0CED4;
    padding: 0.5em;
    transition: 0.5s;
}

.form-group .formCompra-input:focus{
    border: 3px solid #2433873a;
    outline: none;
    transition: 0.5s;
}

.row-valorTotal{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.row-prazoDeEntrega{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.total{
    display: flex;
    justify-content: space-between;
    width: 65%;
    font-size: 25px;
}

.total-preco{
    color: #243387;
    font-weight: 800;
}

.form--compra button{
    width: 65%;
    height: 7vh;
    background-color: #CB445B;
    border: 0;
    border-radius: 10px;
    color: white;
    font-family: 'Product Sans';
    font-size: 13px;
    font-weight: 800;
    cursor: pointer;
    transition: 1s;
}

.form--compra button:hover{
    background-color: #9e3648;
    transition: 0.5s;
}

.labelRadio{
    font-size: 18px;
    margin-bottom: 0.5em;
}

.labelRadio label {
    font-family: 'Product Sans';
}

#strong {
    font-weight: 900;
}

@media screen and (max-width:1400px) {
    .separador {
        margin: 0px 40px;
        transition: 0.5s;
    }
}

@media screen and (max-width:1080px) {
    .head-produtos {
        font-size: 0.8rem;
        transition: 0.5s;
    }
    .head-outros {
        font-size: 0.8rem;
        transition: 0.5s;
    }
    .cart-produto {
        font-size: 0.5rem;
        width: 60%;
        transition: 0.5s;
    }
    .cart-preco {
        font-size: 0.9rem;
        left: -20px;
        position: relative;
        transition: 0.5s;
    }
    .cart-quantidade {
        width: 30%;
        transition: 0.5s;
    }
    .form-group{
        width: 100%;
        transition: 0.5s;
    }
    .total {
        width: 100%;
        transition: 0.5s;
    }
    .form--compra button{
        width: 100%;
        font-size: 13px;
        font-weight: 800;
        transition: 0.5s;
    }
    .form-group .formCompra-input{
        width: 100%;
        height: 5vh;
        padding: 0.5em;
        transition: 0.5s;
    }
}

@media screen and (max-width:866px) {
    .cart-quantidade {
        width: 50%;
        transition: 0.5s;
    }
}

@media screen and (max-width:800px) {
    .carrinho {
        width: 100%;
        transition: 0.5s;
    }
    .cart-preco {
        left: 15px;
        transition: 0.5s;
    }
}

@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
        width: 80%;
        transition: 0.5s;
    }
    .separador {
        display: none;
        transition: 0.5s;
    }
    .cart-quantidade {
        width: 30%;
        transition: 0.5s;
    }
    .form--compra {
        width: 80%;
        transition: 0.5s;
    }
}

@media screen and (max-width:425px) {
    .head-produtos {
        font-size: 0.8rem;
        transition: 0.5s;
    }
    .head-outros {
        font-size: 0.8rem;
        transition: 0.5s;
    }
    .cart-produto {
        font-size: 0.3rem;
        width: 60%;
        transition: 0.5s;
    }
    .cart-preco {
        font-size: 0.7rem;
        left: 0px;
        position: relative;
        transition: 0.5s;
    }
    .cart-quantidade {
        width: 40%;
        transition: 0.5s;
    }
    .container {
        width: 75%;
        transition: 0.5s;
    }
    .form-group .formCompra-input{
        width: 100%;
        height: 5vh;
        padding: 0.5em;
        transition: 0.5s;
    }
    .total {
        width: 100%;
        transition: 0.5s;
    }
    .form--compra button{
        width: 100%;
        font-size: 13px;
        font-weight: 800;
        transition: 0.5s;
    }
}

@media screen and (max-width:375px) {
    .cart-quantidade {
        width: 45%;
        transition: 0.5s;
    }
}