.infoHome svg {
    margin-top: -10px;
    margin-bottom: -26px;
    width: 100%;
}

.infoHome {
    margin-bottom: 50px;
}

.infoInside {
    background-color: #8D7CB4;
    margin: 0px;
    padding: 55px;
}

.infoInside h5 {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #090C20;
    font-size: 30px;
    font-family: 'Fredoka', sans-serif;
    font-weight: 800;
    word-wrap: break-word;
    margin-bottom: 40px;
}

.infoSection{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#topText{
    position: relative;
    bottom: 40px;
}

#subText{
    position: relative;
    top: 10px;
}

@media screen and (min-width: 2220px) {
    .infoHome svg {
        width: 2220px;
    }
}