@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/product-sans');


body {
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #243387;
    width: 100%;
    height: 5.25rem;
    flex-shrink: 0;
}

.categorias {
    width: 100%;
    height: 2.25rem;
    flex-shrink: 0;
    border-radius: 0rem 0rem 3rem 3rem;
    background: #CB445B;
}

.logo {
    width: 10.1875rem;
    height: 2.5rem;
    flex-shrink: 0;
}

.logo img {
    height: 100%;
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    width: 59.0625rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 2.875rem;
    background: #FFF;
}

.icon-lupa {
    margin-left: 0.4rem;
    width: 2.63769rem;
    height: 1.2rem;
    flex-shrink: 0;
}

.placeholder-pesquisa {
    display: flex;
    margin-left: 0.61rem;
    width: 26.33331rem;
    height: 0.75rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #999;
    font-family: 'Product Sans', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icons {
    width: 15rem;
    height: 2.5rem;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carrinho-icon {
    width: 2.701rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.coracao-icon {
    width: 3.07788rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.user-icon {
    width: 2.1985rem;
    height: 1.5rem;
    flex-shrink: 0;
}

/* --- Categorias --- */
.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 1.875rem;
    flex-shrink: 0;
}

.cachorro-link {
    display: flex;
    width: 10.75rem;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
}

.gato-link {
    display: flex;
    width: 10.75rem;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.passaro-link {
    display: flex;
    width: 10.75rem;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.peixe-link {
    display: flex;
    width: 10.75rem;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.outros-link {
    display: flex;
    width: 10.75rem;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}

.casaelazer-link {
    display: flex;
    width: 10.75rem;
    justify-content: center;
    flex-shrink: 0;
    color: #fff;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
}