.atendimentos {
    margin-top: 3.3em;
    padding: 0px 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.atendimentosButton {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13.44369rem;
    height: 3.4375rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: 1px solid #00000031;
    background: #F4F2F8;
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

.carrossel{
    margin-top: 1em;
}

#banhoETosa{
    color: #243387;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
#banhoETosa:hover{
    background-color: #243387;
    color: #FFF;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 1.7rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#adestramentos{
    color: #8D7CB4;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
#adestramentos:hover{
    background-color: #8D7CB4;
    color: #FFF;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 1.7rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#adote{
    color: #CB445B;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
#adote:hover{
    background-color: #CB445B;
    color: #FFF;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 1.7rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

#blog{
    color: #DC7923;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}
#blog:hover{
    background-color: #DC7923;
    color: #FFF;
    letter-spacing: 1px;
    margin: 10px;
    font-size: 1.7rem;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

@media screen and (max-width:1440px) {
    .atendimentos {
        padding: 0px 200px;
        transition: 0.5s;
    }
}

@media screen and (max-width:1280px) {
    .atendimentos {
        padding: 0px 150px;
        transition: 0.5s;
    }
}

@media screen and (max-width:1180px) {
    .atendimentos {
        padding: 0px 100px;
        transition: 0.5s;
    }
}

@media screen and (max-width:1080px) {
    .atendimentos {
        padding: 0px 50px;
        transition: 0.5s;
    }
}

@media screen and (max-width:980px) {
    .atendimentos {
        padding: 0px 25px;
        transition: 0.5s;
    }
    .atendimentosButton {
        width: 12.44369rem;
        transition: 0.5s;
    }
}

@media screen and (max-width:880px) {
    .atendimentosButton {
        width: 11.44369rem;
        transition: 0.5s;
    }
}

@media screen and (max-width:800px) {
    .atendimentosButton {
        margin-top: -30px;
        transition: 0.5;
    }
}

@media screen and (max-width:780px) {
    .atendimentosButton {
        width: 10.44369rem;
        transition: 0.5s;
    }

    #banhoETosa:hover{
        font-size: 1.5rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }
    
    #adestramentos:hover{
        font-size: 1.5rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }
    
    #adote:hover{
        font-size: 1.5rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }

    #blog:hover{
        font-size: 1.5rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }
}

@media screen and (max-width:680px) {
    .atendimentosButton {
        width: 8.44369rem;
        font-size: 19px;
        transition: 0.5s;
    }
    #banhoETosa:hover{
        font-size: 1.2rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }
    
    #adestramentos:hover{
        font-size: 1.2rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }
    
    #adote:hover{
        font-size: 1.2rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }

    #blog:hover{
        font-size: 1.2rem;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    }
}

@media screen and (max-width:580px) {
    .atendimentosButton {
        display: none;
    }
}