header {
    width: 100%;
    height: 5.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #243387;
}

.voltar {
    color: white;
    display: flex;
    align-items: center;
    float: left;
    justify-content: space-between;
}

.seta {
    width: 30%;
}

.logoHeader {
    width: 70%; /* Reduzindo a largura para garantir espaço suficiente */
    text-align: center;
    margin: 0 auto;
}

.logoHeader img {
    max-width: 20%; /* Garante que a imagem não ultrapasse a largura da div */
    height: auto; /* Mantém a proporção da imagem */
}

@media screen and (max-width: 450px) {
    .logoHeader img {
        max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
        height: auto; /* Mantém a proporção da imagem */
    }
}

@media screen and (max-width: 768px) {
    .logoHeader img {
        max-width: 30%; /* Garante que a imagem não ultrapasse a largura da div */
        height: auto; /* Mantém a proporção da imagem */
    }
}

