@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.main {
    margin-top: 2em;
    padding: 0px 40px 0px 30px;
    width: 900px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.login {
    position: absolute;
    width: 400px;
    background: #F4F2F8;
    border: 1px solid #D0CED4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
}

.login .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .content p {
    text-align: center;
    font-size: 1.3em;
    color: #243387;
}

.login .content h2 {
    font-size: 2.5em;
    color: #090C20;
    font-family: Mochiy Pop One;
}


.login .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login .content .form .inputBox {
    position: relative;
    width: 100%;
}

.inputBox input {
    position: relative;
    width: 80%;
    height: 3em;
    border: 1px solid #B2AFBA;
    background: #FFF;
    border-radius: 2.8em;
    padding: 7px;
    font-weight: 500;
    font-size: 1em;
}

.inputBox button {
    background: #243387;
    position: relative;
    width: 80%;
    height: 2.5em;
    border-radius: 2.8em;
    border: 0;
    padding: 7px;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin-left: 2em;
}

.cadastro{
    width: 400px;
    position: relative;
    margin-left: 65em;
}
