body {
    font-family: 'Product Sans';
}

.main {
    margin-top: 2em;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
}

.login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
}

.login .content {
    width: 600px;
    height: 500px;
    background: #F4F2F8;
    border: 1px solid #D0CED4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login .content p {
    text-align: center;
    font-size: 1.3em;
    color: #243387;
}

.login .content h2 {
    font-size: 45px;
    color: #090C20;
    font-family: 'Fredoka';
}


.login .content .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login .content .form .inputBox {
    width: 100%;
}

.inputBox input {
    width: 300px;
    height: 2.5em;
    border: 1px solid #B2AFBA;
    background: #FFF;
    border-radius: 2.8em;
    padding: 7px;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Product Sans';
}

.inputBox button {
    background: #243387;
    width: 300px;
    height: 2.5em;
    border-radius: 2.8em;
    border: 0;
    padding: 7px;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    margin-left: 2em;
}

.cadastro {
    width: 50%;
    display: flex;
    align-items:baseline;
    flex-direction: column;
    height: 28.1em;
}

.cadastro--titulo{
    font-size: 2.6em;
    font-weight: 900;
    word-wrap: break-word;
    font-family: 'Fredoka';
}

.cadastro--content{
    font-size: 1.1em;
    font-weight: 400;
    word-wrap: break-word;
    margin-top: 1em;
}

.cadastro--link{
    font-size: 2.5em;
    word-wrap: break-word;
    font-weight: 800;
    font-family: 'Fredoka';
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
        /* Muda a direção da flexbox para coluna em telas menores */
        align-items: center;
    }

    .login {
        width: 100%;
        /* Ocupa toda a largura disponível */
        margin: 0 0 1em 0;
        /* Adiciona margem apenas na parte inferior para separar do próximo elemento */
    }

    .cadastro {
        width: 100%;
        /* Ocupa toda a largura disponível */
        margin: 1em 0 0 0;
        /* Adiciona margem apenas na parte superior para separar do elemento anterior */
    }

    /* Adicione mais regras de estilo específicas para telas menores aqui */
}