.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.titleProdutos {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Fredoka';
    font-size: 55px;
    color: #090C20;
    font-weight: 900;
    height: 200px;
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 218px;
    height: 480px;
    border-radius: 10px;
    border: 1px solid #D0CED4;
    background: #F4F2F8;
    font-family: 'Product Sans';
    padding: 12px;
    margin: 16px;
}

.card h1 {
    color: #243387;
    word-wrap: break-word;
    font-weight: 900;
    font-size: 39px;
    margin: -5px 0px -10px 0px;
    font-family: 'Product Sans';
}

.card h2 {
    margin-bottom: -10px;
    color: #090C20;
    word-wrap: break-word;
}

.card p {
    color: #787284;
}

.card button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 8px;
    color: #FFF;
    text-align: center;
    font-family: 'Product Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 20px;
    background: #CB445B;
    border: 0px solid;
    cursor: pointer;
    position: relative;
    top: 10px;
    transition: ease-in-out 0.5s;
}

.card button:hover{
    background: #a8394c;
    transition: ease-in-out 0.2s;
}

.card img {
    width: 100%;
}

.cardsProdutos{
    display: flex;
    margin-bottom: 22px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}